body{
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    padding:0 10px;
}

h1,h2,h3{
    line-height:1.2;
}

#color-scheme-buttons{
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
}

/*.color-scheme-button{*/
color-scheme {
    position: relative;
    width: 60px;
    height: 25px;
    margin: 5px;
    border-radius: 1;
    border-style: solid;
    border-color: black;
    background-color: aqua;
}

/*.color-scheme-button[data-active="true"]{*/
color-scheme[data-active="true"] {
    background-color: red;
}